## Importing the required Libraries

In [1]:

import sqlalchemy
from sqlalchemy.orm import Session,DeclarativeBase
import pandas as pd

Creating the engine

In [2]:
engine = sqlalchemy.create_engine("sqlite:///../prakriti.db")
session = Session(engine)

Declaring the base class

In [3]:
class Base(DeclarativeBase):
    pass

Defining the Table as ORM

In [4]:
class Prakriti(Base):
    __tablename__ = "dataset"
    id = sqlalchemy.Column(
        sqlalchemy.Integer, primary_key=True, autoincrement=True)
    body_size = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    body_width = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    height = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    bone_structure = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    complexion = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    general_feel_of_skin = sqlalchemy.Column(
        sqlalchemy.Integer, nullable=False)
    texture_of_skin = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    hair_color = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    appearance_of_hair = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    shape_of_face = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    eyes = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    eyelashes = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    blinking_of_eyes = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    cheeks = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    nose = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    teeth_and_gums = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    lips = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    nails = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    appetite = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    liking_tastes = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)
    dosha = sqlalchemy.Column(sqlalchemy.Integer, nullable=False)

    def __str__(self):
        variables_str = "\n".join([
            f"id = {id}",
            f"body_size = {self.body_size}",
            f"body_width = {self.body_width}",
            f"height = {self.height}",
            f"bone_structure = {self.bone_structure}",
            f"complexion = {self.complexion}",
            f"general_feel_of_skin = {self.general_feel_of_skin}",
            f"texture_of_skin = {self.texture_of_skin}",
            f"hair_color = {self.hair_color}",
            f"appearance_of_hair = {self.appearance_of_hair}",
            f"shape_of_face = {self.shape_of_face}",
            f"eyes = {self.eyes}",
            f"eyelashes = {self.eyelashes}",
            f"blinking_of_eyes = {self.blinking_of_eyes}",
            f"cheeks = {self.cheeks}",
            f"nose = {self.nose}",
            f"teeth_and_gums = {self.teeth_and_gums}",
            f"lips = {self.lips}",
            f"nails = {self.nails}",
            f"appetite = {self.appetite}",
            f"liking_tastes = {self.liking_tastes}",
            f"dosha = {self.dosha}"
        ])

        return variables_str

Implementing the Select statement using Prakriti Table in database

In [27]:



from sqlalchemy import Select


stmt=Select(Prakriti)
for a in session.execute(stmt).fetchall():
    print(a)

Reading the real dataset

In [6]:
df=pd.read_csv("../Dataset/data.csv")
df

,Body Size,Body Weight,Height,Bone Structure,Complexion,General feel of skin,Texture of Skin,Hair Color,Appearance of Hair,Shape of face,...,Eyelashes,Blinking of Eyes,Cheeks,Nose,Teeth and gums,Lips,Nails,Appetite,Liking tastes,Dosha
0,1,1,1,2,2,0,0,0,1,0,...,1,1,0,2,2,0,2,2,0,3
1,1,1,0,1,1,0,2,1,0,0,...,1,1,1,2,1,0,0,2,0,3
2,0,1,1,1,1,1,2,0,0,0,...,1,1,1,2,1,1,1,2,0,1
3,0,1,0,0,1,0,2,0,1,2,...,0,1,1,0,1,1,0,2,0,3
4,2,1,0,1,0,1,2,0,0,0,...,0,1,0,1,1,1,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,1,0,1,1,1,2,0,0,0,...,1,1,0,2,1,1,0,2,0,3
1196,1,1,2,1,1,1,2,0,0,0,...,1,1,1,0,1,1,0,1,0,3
1197,0,0,1,0,1,1,2,0,2,1,...,1,0,0,0,0,1,1,0,0,3
1198,2,2,1,2,1,1,2,0,1,2,...,1,1,2,2,1,1,0,2,0,4
1199,2,1,2,2,1,0,2,0,1,0,...,1,1,1,2,1,1,0,0,0,3

In [7]:
df.columns

Index(['Body Size', 'Body Weight', 'Height', 'Bone Structure', 'Complexion',
       'General feel of skin', 'Texture of Skin', 'Hair Color',
       'Appearance of Hair', 'Shape of face', 'Eyes', 'Eyelashes',
       'Blinking of Eyes', 'Cheeks', 'Nose', 'Teeth and gums', 'Lips', 'Nails',
       'Appetite', 'Liking tastes', 'Dosha'],
      dtype='object')

Reading the values from the dataset tables using pandas

In [8]:
newdf=pd.read_sql_table("dataset",session.connection())
newdf

,id,body_size,body_width,height,bone_structure,complexion,general_feel_of_skin,texture_of_skin,hair_color,appearance_of_hair,...,eyelashes,blinking_of_eyes,cheeks,nose,teeth_and_gums,lips,nails,appetite,liking_tastes,dosha
0,1,1,0,1,0,2,0,2,0,2,...,0,1,2,0,2,0,1,2,0,3
1,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Data Preprocessing Step removing unwanted columns and renaming columns to actual dataset columns

In [9]:
newdf.drop(columns="id",inplace=True)

In [10]:
newdf

,body_size,body_width,height,bone_structure,complexion,general_feel_of_skin,texture_of_skin,hair_color,appearance_of_hair,shape_of_face,...,eyelashes,blinking_of_eyes,cheeks,nose,teeth_and_gums,lips,nails,appetite,liking_tastes,dosha
0,1,0,1,0,2,0,2,0,2,0,...,0,1,2,0,2,0,1,2,0,3
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
newdf.columns=df.columns

In [12]:
newdf

,Body Size,Body Weight,Height,Bone Structure,Complexion,General feel of skin,Texture of Skin,Hair Color,Appearance of Hair,Shape of face,...,Eyelashes,Blinking of Eyes,Cheeks,Nose,Teeth and gums,Lips,Nails,Appetite,Liking tastes,Dosha
0,1,0,1,0,2,0,2,0,2,0,...,0,1,2,0,2,0,1,2,0,3
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Merging the new dataset

In [13]:
df1=pd.concat([df,newdf],ignore_index=True)
df1

,Body Size,Body Weight,Height,Bone Structure,Complexion,General feel of skin,Texture of Skin,Hair Color,Appearance of Hair,Shape of face,...,Eyelashes,Blinking of Eyes,Cheeks,Nose,Teeth and gums,Lips,Nails,Appetite,Liking tastes,Dosha
0,1,1,1,2,2,0,0,0,1,0,...,1,1,0,2,2,0,2,2,0,3
1,1,1,0,1,1,0,2,1,0,0,...,1,1,1,2,1,0,0,2,0,3
2,0,1,1,1,1,1,2,0,0,0,...,1,1,1,2,1,1,1,2,0,1
3,0,1,0,0,1,0,2,0,1,2,...,0,1,1,0,1,1,0,2,0,3
4,2,1,0,1,0,1,2,0,0,0,...,0,1,0,1,1,1,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,0,0,1,0,1,1,2,0,2,1,...,1,0,0,0,0,1,1,0,0,3
1198,2,2,1,2,1,1,2,0,1,2,...,1,1,2,2,1,1,0,2,0,4
1199,2,1,2,2,1,0,2,0,1,0,...,1,1,1,2,1,1,0,0,0,3
1200,1,0,1,0,2,0,2,0,2,0,...,0,1,2,0,2,0,1,2,0,3
1201,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Saving the new dataset into the CSV

In [14]:
df1.to_csv("newdata.csv",index=False)

In [26]:
from sqlalchemy import Delete


stmt=Delete(Prakriti)
session.execute(stmt)

Fake Prakriti Data

In [28]:
prakriti_obj = Prakriti(
    body_size=1,
    body_width=2,
    height=3,
    bone_structure=0,
    complexion=1,
    general_feel_of_skin=2,
    texture_of_skin=3,
    hair_color=1,
    appearance_of_hair=2,
    shape_of_face=3,
    eyes=0,
    eyelashes=1,
    blinking_of_eyes=2,
    cheeks=3,
    nose=0,
    teeth_and_gums=1,
    lips=2,
    nails=3,
    appetite=0,
    liking_tastes=1,
    dosha=2
)

Adding the fake data

In [24]:
session.add(prakriti_obj)
session.commit()